html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


nav{
  width: 100vw;
  display: flex;
justify-content: space-between;
  padding-left: 2rem;
  padding-top: 2rem;
  height: 6rem;
}
nav .menu>ul{
  display:inline-flex;
}
nav li{
  margin-right: 2rem;
  color: white;
  list-style: none;
 font-size: 2rem;
 
}

nav li:hover{
  cursor: pointer;
  border-bottom: .2rem solid white;
  transition: 300ms ;
}
.main{
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  min-width: 51.4rem;
}
.formular{
  
padding: 1.5rem 3.5rem;
  background:rgb(245, 244, 241);
  width: fit-content;
  max-width: 45rem;
  margin: 9vh 0 0 10vw;
  border-radius: .5rem;
  height: fit-content;
  
}
.formular>.lugar,.huesp{
  width: 100%;
  border-radius: .5rem;
  
}
.formular>h1{
  margin-top: 1rem;
  color: #484848;
 
}
.formular>p{
  color: #484848;
}
.formular>p>span{
  margin-left: 32%;
}
input{
  padding-left: 1.5rem;
  font-size: 1.6rem;
  border: .1rem solid rgb(235, 235, 235);
  outline: none;
  height: 3em;
  
}
input:focus{
  border: .1rem solid springgreen ;
}

.date>input{
  width: 49%;
 
  margin-right: 0;
 
  border-radius: .5rem;
}
.div-sub{
  text-align: end;

}
.submit{
  margin-top: 2rem;
  padding: 1rem;
  background-color:rgb(238, 97, 97);
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  border-radius: .5rem;
  width: 10rem;
}

.lugares{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 23rem;
  color: white;
  padding-right: 2rem;
  text-align: right;
}

input[type="date"]{
  color: #95a5a6;
}
